
<h1>Hello Mr Examinator!</h1>
<%= link_to 'Add a quotation', new_quotation_path %>

<br><br>




<h1>Listing quotations</h1>
 
<table>
  <tr>
    <th>Author</th>
    <th>Citation</th>
    <th></th>
  </tr>
 
  <% @quotations.each do |quotation| %>
    <tr>
      <td><%= quotation.author %></td>
      <td><%= quotation.text %></td>
      <td><%= link_to 'Show', quotation_path(quotation) %></td>
    </tr>
  <% end %>
</table>