<%= form_with scope: :quotation, url:quotations_path, local: true do |form| %>
 
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quotation.errors.count, "mistake") %> my dear, such quotas are no heritage to be worldwided! What's wrong? Look below:
      </h2>
      <ul>
        <% @quotation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


 <p>
    <%= form.label :Author %><br>
    <%= form.text_field :author %>
  </p>
 
  <p>
    <%= form.label :What_did_the_author_say? %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>



<%= link_to 'Return to the list of quotations', quotations_path %>