


<p>
  <strong>Author:</strong>
  <%= @quotation.author %>
</p>
 
<p>
  <strong>Said:</strong>
  <%= @quotation.text %>
</p>





<h2>Comments</h2>
<% @quotation.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  ----------
<% end %>






<h2>Add a comment:</h2>
<%= form_with(model: [ @quotation, @quotation.comments.build ], local: true) do |form| %>

  <p>
    <%= form.label :Nickname %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit :Post_your_comment %>
  </p>

  
<% end %>

  
  

<%= link_to 'Return to the list of quotations', quotations_path %>